{% extends "menu.twig" %}

{% block conteudo %}
    <div class="container pt-5">
        <form action="/consulta/{{ urna.CodConsultaEleitoral }}/urna/{{ urna.codurna }}/alterar"
              method="post">
            <div class="row">
                <div class="col-md mb-3">
                    <div class="form-floating">
                        <input type="hidden" name="consulta"
                               value="{{ urna.codConsultaEleitoral }}">
                        <input type="text" name="descricao" class="form-control" id="descricao"
                               value="{{ urna.descricao }}"
                               required/>
                        <label for="descricao">Nome da urna</label>
                    </div>
                </div>
            </div>
            <div class="row">
            <div class="row justify-content-end">
                <div class="col-md-3 pt-4 pb-3">
                    <button type="submit" class="btn btn-primary">
                        Alterar
                    </button>
                    <button type="button" class="btn btn-secondary"
                            onclick="window.location.href='/consulta/{{ urna.codConsultaEleitoral }}'">
                        Cancelar
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}